@model List<WebApplication1.Models.Television.TvCelebrityViewModel>

<table class="table table-bordered">
    <tr>
        <th>
            Name
        </th>
        <th>
            Occupation
        </th>
        <th>
            Age
        </th>
    </tr>
    <tr>
        @foreach (var item in Model)
        {
            <td>
                @item.Name
            </td>
            <td>
                @item.Occupation
            </td>
            <td>
                @item.Citizen.Age
            </td>
        }
    </tr>
</table>
